/* GENERAL */

body {
    font-family: Raleway, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 1400px;
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 16px;
}

h3 {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.euro {
    font-weight: 700;
}

.iconstars {
    display: flex;
    position: absolute;
    bottom: 5px;
}

.blue-star {
    color: #0065fc;
}

.neutral-star {
    color: #f2f2f2;
}


/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    height: 83px;
}

.logo {
    width: 61.09px;
    height: 19px;
}


/*NAV*/

nav {
    min-width: 320px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 25px;
    padding: 0;
    width: 100%;
}

.nav-li {
    width: 50%;
    text-align: center;
}

.topmenu {
    display: block;
    padding: 39px 0 39px 0;
    color: black;
    min-width: 50%;
}

.topmenu:hover {
    color: #0065FC;
    border-top: solid 2px;
}

/*INPUT*/
form {
    display: flex;
    text-align: center;
    margin-top: 40px;
}

.background-loc-icon {
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
    width: 30px;
    height: 31px;
    text-align: center;
    padding: 10px;
}

.input-field {
    background: transparent;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #0065FC;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: start;
    color: black;
    width: 220px;
    padding-left: 20px;
}

.button {
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding: 15px 16px;
    cursor: pointer;
}

.mobilebutton {
    display: none;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding: 15px 16px;
}

.inputicon {
    padding-top: 5px;
    border-radius: 25px;
    font-size: 18px;
    background-color: transparent;
    text-align: center;
    padding-left: 2px;
}


/* FILTRES */

.filters {
    display: flex;
    flex-direction: row;
}

.buttonfilters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    height: 50px;
    gap: 20px;
}

.icongroup {
    border-radius: 30px;
    border: 2px solid #d9d9d9;
    height: 100%;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    width: auto;
}

.icongroup:hover>.icontext {
    color: #0065FC;
}

.icongroup:hover {
    background-color: #DEEBFF;
}

.iconfilter {
    margin-left: 18px;
    border-radius: 25px;
    color: #0065fc;
    font-size: 20px;
    background-color: transparent;
}

.icontext {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    border-radius: 0 25px 25px 0;
    text-align: center;
}


/*INFO*/

.information {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.infoicon {
    padding: 5px 9px;
    border-radius: 25px;
    color: #0065fc;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid #DEEBFF;
    border-radius: 50% 50% 50% 50%;
}


/*HERBERGEMENTS*/

#accomodations {
    width: 100%;
}

.background-accomodations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 2;
    height: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 30px;
    padding-bottom: 52px;
    gap: 30px;
    margin-right: 20px;
}

.article-group-accomodations {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 25px;
}

.article-group-accomodations a {
    max-width: 206px;
    height: 199px;
}

.map-background-accomodations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    object-fit: contain;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.1);
    line-height: 8px;
}

.text-maps {
    position: relative;
    padding-left: 16px;
    padding-bottom: 8px;
}

.img-accomodations {
    width: 194px;
    height: 124px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}


/*POPULAIRES*/

.background-popular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 26px;
    gap: 30px;
    box-sizing: border-box;
}

.background-popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconbackground {
    margin-left: 18px;
    border-radius: 25px;
    font-size: 20px;
    background-color: transparent;
    color: #0065FC;
}

.map-background-popular {
    display: flex;
    flex-direction: row;
    background-color: white;
    object-fit: contain;
    padding: 6px;
    border-radius: 20px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 144px;
}

.img-popular {
    width: 125px;
    height: 144px;
    background-size: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.article-group-popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}


/*ACTIVITES*/

.article-group-activities {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 30px;
}

.map-background-activities {
    display: flex;
    flex-direction: column;
    height: 444px;
    border-radius: 20px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.1);
}

.img-activities {
    border-radius: 20px 20px 0 0;
    height: 389px;
    width: 100%;
    object-fit: cover;
}


/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 30px;
    margin-top: 80px;

}

.footer-ul {
    flex-direction: column;
    padding: 0;
    line-height: 30px;
}

.footer-div {
    width: 100%;
    padding: 40px;
}


/* MEDIA QUERIES MOBILE*/

@media screen and (min-width: 320px) and (max-width: 767px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0;
    }

    .iconstars {
        bottom: 10px;
    }

    h1 {
        font-size: 23px;
    }

    .logo {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    nav {
        min-width: 105%;
    }

    ul {
        padding: 0;
        margin-left: 0;
    }

    .nav-li {
        width: 50%;
        text-align: center;
    }

    .topmenu {
        padding-top: 0;
        padding-bottom: 19px;
        border-bottom: solid 2px;
        border-color: #f2f2f2;
    }

    .topmenu:hover {
        color: #0065FC;
        border-bottom: solid 2px;
        border-top: none;
    }

    #Search {
        padding-top: 2px;
    }

    #search-input {
        display: flex;
        justify-content: center;
    }

    .button {
        display: none;
    }


    .filters {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .buttonfilters {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .information {
        padding: 5px;
        padding-top: 90px;
        margin-bottom: 20px;
    }

    .icongroup {
        width: 140px;
        font-size: 14px;
    }

    .icontext {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-right: 70px;
        font-size: 10px;
    }

    .mobilebutton {
        display: block;
    }

    #accomodations {
        display: flex;
        flex-direction: column-reverse;
    }

    .text-maps {
        padding-bottom: 14px;
    }

    .background-popular-header {
        display: flex;
        gap: 10%;
    }

    .background-popular {

        width: 110%;
        border-radius: 0;
    }

    .article-group-popular a {
        min-width: 100%;
    }

    .map-background-popular {
        width: 97%;
    }

    .background-accomodations {
        margin-right: 0;
        padding: 10px;
        background-color: white;
        width: 100%;
    }

    .article-group-accomodations a {
        min-width: 100%;
    }

    .img-accomodations {
        min-width: 100%;
    }

    .article-group-activities {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        margin-bottom: 60px;
    }

    .map-background-activities {
        border-radius: 20px;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
    }

    .article-group-activities a {
        width: 100%;
    }

    .img-activities {
        height: 144px;
        min-width: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        padding-top: 0;
    }

    .footer-div {
        padding-left: 0;
    }

}

/* MEDIA QUERIES TABLETTE*/


@media screen and (min-width: 768px) and (max-width: 991px) {

    body {
        margin-left: 30px;
    }

    .iconstars {
        bottom: 5px;
    }

    header {
        padding-right: 0;
    }

    .topmenu:hover {
        border-top: none;
    }

    h3 {
        padding-right: 10px;
    }

    .filters {
        display: flex;
        flex-direction: row;
    }

    .buttonfilters {
        gap: 10px;
    }

    .icongroup {
        font-size: 13px;
    }

    .icontext {
        padding-top: 37px;
        padding-left: 10px;
    }

    #accomodations {
        display: flex;
        flex-direction: column
    }

    .text-maps {
        padding-bottom: 14px;
    }

    h1 {
        margin: 0;
    }

    .background-accomodations {
        display: flex;
        justify-content: center;
        min-width: 93%;
        margin-right: 13px;
        margin-bottom: 50px;
    }

    .article-group-accomodations a {
        margin-right: 15px;
    }

    .map-background-accomodations {
        width: 100%;
        height: 195px;
    }

    .img-accomodations {
        min-width: 100%;
    }

    h2 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .background-popular {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 13px;
        margin-bottom: 50px;
    }

    .article-group-popular {
        display: flex;
        flex-direction: row;
    }

    .map-background-popular {
        max-width: 252px;
        max-height: 144px;
    }

    .img-popular {
        width: 106px;
    }

    .article-group-activities {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
    }

    .map-background-activities {
        max-width: 100%;
        height: 267px
    }

    .img-activities {
        object-fit: cover;
        width: 100%;
        height: 211px;
    }

    #footer {
        padding-left: 0;
    }

}
